<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblRfiddeviceMapper">
    
    <resultMap type="TblRfiddevice" id="TblRfiddeviceResult">
        <result property="id"    column="id"    />
        <result property="dcode"    column="dcode"    />
        <result property="dtype"    column="dtype"    />
        <result property="droom"    column="droom"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTblRfiddeviceVo">
        select id, dcode, dtype, droom, del_flag, create_by, create_time, update_by, update_time, remark from tbl_rfiddevice
    </sql>

    <select id="selectTblRfiddeviceList" parameterType="TblRfiddevice" resultMap="TblRfiddeviceResult">
        <include refid="selectTblRfiddeviceVo"/>
        <where>  
            <if test="dcode != null  and dcode != ''"> and dcode like concat('%', #{dcode}, '%')</if>
            <if test="dtype != null  and dtype != ''"> and dtype = #{dtype}</if>
            <if test="droom != null  and droom != ''"> and droom like concat('%', #{droom}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectTblRfiddeviceById" parameterType="Long" resultMap="TblRfiddeviceResult">
        <include refid="selectTblRfiddeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTblRfiddevice" parameterType="TblRfiddevice" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_rfiddevice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dcode != null and dcode != ''">dcode,</if>
            <if test="dtype != null and dtype != ''">dtype,</if>
            <if test="droom != null and droom != ''">droom,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dcode != null and dcode != ''">#{dcode},</if>
            <if test="dtype != null and dtype != ''">#{dtype},</if>
            <if test="droom != null and droom != ''">#{droom},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTblRfiddevice" parameterType="TblRfiddevice">
        update tbl_rfiddevice
        <trim prefix="SET" suffixOverrides=",">
            <if test="dcode != null and dcode != ''">dcode = #{dcode},</if>
            <if test="dtype != null and dtype != ''">dtype = #{dtype},</if>
            <if test="droom != null and droom != ''">droom = #{droom},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblRfiddeviceById" parameterType="Long">
        delete from tbl_rfiddevice where id = #{id}
    </delete>

    <delete id="deleteTblRfiddeviceByIds" parameterType="String">
        delete from tbl_rfiddevice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>